<p>
  create-post works!
</p>



<div class="well">
  <h4>Create post</h4>


<form role="form" action="" method="" >


<div class="form-group">
<label for="Author"> User name </label>
          <input type="text" name="comment_author"class="form-control" >
</div>


<div class="form-group">
<label for="Email">post image </label>
          <input type="email" name="comment_email"class="form-control" >
      </div>


      <div class="form-group">
             <label for="comment"> post text </label>
          <textarea name="comment_content" class="form-control" rows="3"></textarea>
      </div>

      <button type="submit" name="create_comment" class="btn btn-primary">post</button>
  </form>
</div>





<div class="container">
    <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
        <app-server-element
          *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement"
          [name]="serverElement.name">
          <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
      </div>
    </div>
  </div>
  