

<div class="well">
    <div class="container">
        <div class="panel panel-primary">
   <div class="panel-body">
      <h2 class="lead text-center"> add New Post</h2>
      <form role="form">
          
          <div class="form-group">
              <label> new post </label>
              <textarea class="form-control" rows="5"  #serverContentInput></textarea>
          </div>
  
          <button class="btn btn-primary btn-block btn-lg"
          (click)="onAddBlueprint(serverNameInput)"> Share </button>
      </form>
   </div>
 </div>
 </div>
    
</div>


