
p {
  color: blue;
}

label {
  color: red;
}

.card {
    background: #fff;
    border-radius: 2px;
    border: none;
    width: 100%;
    height:100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card .card-header {
    background-color: transparent;
    border: none;
    margin-bottom: 0.3rem;
}

.card .card-header .profile {
    width: 3rem;
    height: 3rem;
    margin: 0.3rem 0.3rem 0 0;
}

.card .card-header .profile .user-img {
    width: 100%;
    border-radius: 50%;
}

.card .card-header .post-detailes {
    margin: 0.4rem 0.3rem;
}

.card .card-header .post-detailes h5 {
    margin: 0;
}

.card .card-header .post-detailes .user-name {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

.card .card-header .post-detailes .post-date {
    color: #616770;
}

.card-footer {
    background-color: transparent;
}

.card-footer .post-btn {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: #606770;
}

.card-footer .post-btn:hover {
    background-color: rgba(120, 103, 112, 0.1);
}

.show-more {
    height: 3rem;
    overflow: hidden;
}

.show-more:hover {
    cursor: pointer;
}

.expanded {
    height: auto;
    overflow: unset;
}
     
